#encabezado{
  display: grid;
  margin: 0%;
  --opacidad-negro: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../img/fondo_principal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 1fr ;
  grid-template-rows: 0.5fr 0.5fr 3fr;
  height: 100vh;
  width: 100vw;
} 
  .head_top{
    display: grid;
    grid-template-columns: 2fr 1fr 0.2fr;
    align-items: center;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    height: 50px;
  }
    .head_top #logo-letra{
      grid-column: 1/2;
      position: relative;
      height: 60%;
      left:8% ;
      top:10%;  
    }
      #uniq,#luxury {
        height: fit-content;
        width: fit-content;
      }    
    .head_top #sesion{
      display: flex;
      justify-content: center;
      align-items: center;
    }
      #sesion_conteiner{
        display: grid;
        grid-template-columns: auto auto;
        height: fit-content;
        margin: 0 75px;
      }
        #login , #sigin{
          font-family: 'brandon-grotesque';
          font-style: normal;
          font-weight: 390;
          font-size: 16px;
        }
        #login {
          color: #484545;
          padding-right:10px;
          }
        #sigin{
          color: #FFFFFF;
          border-left: 1px solid rgba(255, 255, 255,0.5);
          padding-left: 15px;
        }
    .head_top #menu{
      grid-column: 3/4;
      height: 55%;
      position: relative;
      border-left: 1px solid rgba(255, 255, 255,0.5);
      display: flex; 
      align-items: center;
      justify-content: center; 
      padding-right:30%;
    }
      #img_menu{
        height:70%;
      }
  .search{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    padding: 0% 0% 4% 0%;
    margin-top: 0%
  }
    #caja_texto {
      grid-column: 2/3; 
      grid-row: 1/2;
      border: 1px solid #FFFFFF;
      border-radius: 80px;
      font-family: 'brandon-grotesque';
      font-style: normal;
      font-size: fit-content;
      color: #fcf9f9;
      background: none;
      margin-left:20%;
      margin-right:10%;
      justify-content: center;
      align-items: center;
    }
    #lupa{
      grid-column: 2/3;
      grid-row: 1/2;
      position: relative;
      left: 85%;
      top: 10%;
      height: 70%; 
    }

  .titulos_encabezado{                                             
    display:grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 0.1fr 0.3fr 1fr;
  }
    #titulo1{
      font-family: 'PF Regal Display Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      color: #B4B7B7;
      grid-row:1/2;
      margin-left:5%;
      margin-bottom:2%;
      height: fit-content;
      width: fit-content;
    }
    #titulo2{
      font-family: 'PF Regal Display Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 80px;
      line-height: 45px;
      color: #FFFFFF;
      height: fit-content ;
      width: fit-content;
      grid-row:2/3;
      margin-left:5%;
      margin-top:0%;
      margin-bottom:0%;
    }
    #enlace_head{
      grid-column:1/2;
      margin-left:5%;
      display: grid;
      grid-template-columns: 1fr, 1fr;
      grid-template-rows:1fr   
      }
      .vap{
        grid-column:1/2;
        grid-row:1/2;
        border-radius: 80px;
        border: 1px solid white;
        opacity: 1; 
        color: white;
        height: fit-content;
        width: fit-content;
        font-size:x-large ;
        font-weight: normal;
        padding: 1% 8%;  
      }
      #flecha_head{
        grid-column: 1/2;
        grid-row:1/2;
        position:relative;
        top:5%;
        left:2.5%;
      }


#content{
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
}   
  #Worldwide_gallery{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:2%;
  }
    .galeria{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width:100%;    
    }
      .img-wg{
            display: grid;
            align-items: end;
            margin-right: 3%;   
          }
            .text-galeria{
              display: grid;
              padding-left: 10px;
            }  
            .img-wg:hover .text-galeria1, .img-wg:hover .text-galeria2 { 
              color: #000000;
            } 
            .img-wg:hover .text-galeria1 { 
              padding-left: 17px;
            } 

            .img-wg:hover .text-galeria{
             display: grid;
             padding-left: 10px;
             background-image: url(../img/castillo.png);
             background-repeat: no-repeat;
             background-position-x: 5%;
             background-position-y:10%;
             background-color: #FFFFFF;
            } 

            #img-wg1{
              background-image: url(../img/sale.jpg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              min-height:100px;
            } 
            #img-wg2{
              background-image: url(../img/England_sale.png);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              min-height:100px;
            } 
            #img-wg3{
              background-image: url(../img/Marseilles_sale.jpg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              min-height:100px;
            }
    .wg-content{
      grid-column: 2/3;
      text-align: right;
      margin: 0% 5% 2% 0%;
    }    
      .vap-wg{
        display: grid;
        position: relative;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
      }
      .click-container{
       display: grid;
      }
      .click{
      font-family: 'Brandon Grotesque';
      font-style: normal;
      font-size: 25px;
      align-items: center;
      justify-content:center;
      text-align:center;
      color: black;
      border-radius: 80px;;
      border: 1px solid rgb(6, 0, 0);
      padding: 0% 5% 0% 5%;
      }

      .click-container:hover .click{
        background-color: #000000;
        color: rgb(252, 248, 248);
      }

      .prev,.next{
        display:flex;
        padding-left:30%
      }
        #prev-text{
          padding-top:7%
        }
        #next-text{
          padding-top:7%;
          padding-left:38%;
          color: #df991b;
        }

       .info{
        font-family: 'brandon-grotesque';
        font-style: normal;
        font-size: 22px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 5%;
        margin-left: 8%;
       }

  #Worldwide_gallery2{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:4% 0% 5% 4%;
  } 
   .galeria2{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      width: 100%;
    }
      .img2-wg{
            display: grid;
            align-items: end;
            background-position: center; 
            margin-left: 3%;
          }
            .text-galeria-wg2{
              display: grid;
              padding-left: 12px;
            }  
            .img2-wg:hover .text-galeria1, .img2-wg:hover .text-galeria2 { 
              color: #000000;
            } 
            .img2-wg:hover .text-galeria1 { 
              padding-left: 17px;
            } 

            .img2-wg:hover .text-galeria-wg2{
            display: grid;
            padding-left: 10px;
            background-image: url(../img/castillo.png);
            background-repeat: no-repeat;
            background-position-x: 5%;
            background-position-y:10%;
            background-color: #FFFFFF;
            } 
    .wg-content2{
      grid-column: 1/2;
      text-align: left;
    }    
    .vap-wg2{
      display: grid;
      position: relative;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
    }
    .click-container2{
     display: grid;
    }
    .click-container2:hover .click{
      background-color: #000000;
      color: rgb(252, 248, 248);
    }
   .prev2,.next2{
      display:flex;
    }
      #prev2-text{
        padding-top:5%
      }
      #next2-text{
        padding-top:6%;
        padding-left:38%;
        color: #df991b;
      }

     .info2{
      font-family: 'brandon-grotesque';
      font-style: normal;
      font-size: 22px;
      line-height: 35px;
      color: #000000;
      margin-bottom: 5%;
      margin-right: 8%;
     }

    #img-wg4{
      background-image: url(..//img/carcassomme-rent.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      min-height:100px;
    }
    #img-wg5{
      background-image: url(..//img/munich-rent.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      min-height:100px;
    }
    #img-wg6{
      background-image: url(..//img/italia-rent.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      min-height:100px;
    }

    #Luxury-properties{
      grid-row: 3/4;
      display: grid;
      grid-template-rows: 5% 5% 1fr;
      align-items: center;
    }
        .subtitulos1-lp{
          font-family: 'PF Regal Display Pro';
          font-style: normal;
          font-size: 25px;
          align-items: center;
          text-align: center;
          color: #DF991B;
          margin:0%
        }
        
        .subtitulos2-lp{
          font-family: 'PF Regal Display Pro';
          font-style: normal;
          font-size: 50px;
          align-items: center;
          text-align: center;
          color: #000000;
          margin:0%
        }
    
    .galeria-lp{
      grid-row: 3/4;
      display: grid;
      width:max-content;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
      align-content: center;
      align-items: center;
      margin:5% 0% 5% 10%;
      grid-gap:2%;   
    }
      .img-lp{
        display: grid;
        align-items: end;
      }
        .img-lp:hover{
          border: 1px solid rgb(147, 7, 172);
        }
        .text-glp{
          display: grid;
          padding-left: 12px;
          justify-content: start;
          background-color: #FFFFFF;
        }  
      .textlp-galeria1{
        font-family: 'PF Regal Display Pro';
        font-style: normal;
        font-weight:30px;
        font-size:20px;
        align-items: center;
        text-align: left; 
        color: rgb(11, 10, 10);
      }
      .textlp-galeria2{
      font-family: 'PF Regal Display Pro';
      font-style: normal;
      font-size: 25px;
      font-weight: bold;
      align-items: start;
      text-align: left;
      color: rgb(7, 7, 7);
      }

      #img-lp1{
        background-image: url(../img/surfside.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:200px;
      } 
      #img-lp2{
        background-image: url(../img/vero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:200px;
      } 
      #img-lp3{
        background-image: url(../img/bahama.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:200px;
      }
      #img-lp4{
        background-image: url(..//img/brickell.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:200px;
      }
      #img-lp5{
        background-image: url(..//img/coral.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:200px;
      }
      #img-lp6{
        background-image: url(..//img/miami.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:200px;
      }
      #img-lp7{
        background-image: url(..//img/Developments-quebec.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:200px;
      }
      #img-lp8{
        background-image: url(..//img/Developments.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height:200px;
      }

    #services{
      grid-row: 4/5;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;   
    }
     #img-contenedor{
      display: grid;
      grid-template-columns: 10% 60% 20%;
      grid-template-rows: 10% 80% 10%;
    }
      #img-services{
        background-color: #484545;
        grid-column: 1/3;
        grid-row: 1/4;
        min-height:500px;

      }
      #img-f1{
        grid-column: 2/4;
        grid-row: 2/3;
        background-image: url(../img/services.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        min-height:180px;
      }
  #s-content{
    display: grid;
  }
     
  #logo-services{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  #linea{
    width:600px;
    height:30px;
    border-bottom: 1px solid #DF991B;
    margin:0%;
  }
  .vap-lp{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
  }
  .click-containerlp{
    margin:6% 0% 0% 0%;
    padding:0% 0% 0% 0%;
  }
  .clicklp{
  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-size: 25px;
  align-items: center;
  justify-content:center;
  text-align:center;
  color: black;
  border-radius: 80px;
  border: 1px solid rgb(6, 0, 0);
  padding: 0% 12% 0% 12%;
  }

  .click-containerlp:hover .clicklp{
    background-color: #000000;
    color: rgb(252, 248, 248);
  }

  .prevlp,.nextlp{
    display:flex;
    align-items: center;
  }
    #prevlp-text{
      padding-top:8%;
     
    }
    #nextlp-text{
      padding-top:8%;
      color: #df991b;
    }

#footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  margin-top: 5%;
}
#encabezado-footer{
  background: #26282B;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  padding: 2% 5%;
  grid-row: 1/3;
  grid-column: 1/3;
  z-index: 999;
  grid-template-rows: auto 1fr;
}

#formulario{
  grid-row: 1/3;
  grid-column: 2/3;
  display: grid;
}

#name{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
  font-family: 'brandon-grotesque';
}
#correo{
  padding-top: 0;
  padding-bottom: 2px;
  font-size: 16px;
  color: #fff;
  padding: 5px 210px 5px 15px;
  background-color: transparent !important;
  border-radius: 80px;
  border: 1px solid #7E7E7E;
}

.clickf{
  background-color: unset;
  color: #DF991B;
  padding: 5px 30px;
  border-radius: 100px !important;
  letter-spacing: 3px;
  border: 1px solid #DF991B;
  font-size: 17px;
  font-family: 'brandon-grotesque';
  font-weight: 390;
  text-align: center;
  margin-left: 15vw;
  margin-top: 1.5vw;
}

.subtitulosf2{
  font-family: 'PF Regal Display Pro';
  font-style: normal;
  font-size: 50px;
  align-items: center;
  color: #ffffff;
  margin:0%
}

.subtitulos1{
  font-family: 'PF Regal Display Pro';
  font-style: normal;
  font-size: 25px;
  align-items: center;
  color: #DF991B;
  margin:0%
}

.subtitulos2{
  font-family: 'PF Regal Display Pro';
  font-style: normal;
  font-size: 50px;
  align-items: center;
  color: #000000;
  margin:0%
}


.text-galeria1{
  font-family: 'PF Regal Display Pro';
  font-style: normal;
  font-weight:30px;
  font-size:20px;
  align-items: center;
  text-align: left; 
  color: white;
}
.text-galeria2{
font-family: 'PF Regal Display Pro';
font-style: normal;
font-size: 25px;
font-weight: bold;
align-items: start;
text-align: left;
color: white;
}