
#encabezado{
  display: grid;
  margin: 0%;
  --opacidad-negro: 0.5;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../img/fondo_principal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr;
  height: 100vh;
  width: 100vw;
} 

  .head_top{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    width: 100vw;
    gap: 10px 10px;
    padding: 1%;
    align-items: center;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  }

    .head_top #logo-letra{
      grid-column: 1/2;
      position: relative;
      left:8% ;
      top:8%;  
    }
      #uniq,#luxury{
        height: 25px;
        width: 89px
      }

    .head_top #sesion{
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 23px;     
    }
      #login{
        font-family: 'Brandon Grotesque';
        font-style: normal;
        /*font-weight: 390;*/
        font-size: 23px;
        /*line-height: 45px;
        /* or 225% */
        color: #7E7E7E;
        padding: 2%;
        }
      #sigin{
        font-family: 'Brandon Grotesque';
        font-style: normal;
        /*font-weight: 390;*/
        font-size: 23px;
        /*line-height: 45px;
        /* or 225% */
        padding: 2%;
        color: #FFFFFF;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
      }

    .head_top #menu{
      grid-column: 3/4;
      height: 23px;
      width: 100%;
      position: relative;
      border-left: 1px solid rgba(255, 255, 255,0.5); 
      /*align-items: center;
      justify-content: center;*/   
    }
      #img_menu{
        position: relative;
        left: 15%;

      }

  .search{
    grid-row: 2/3;
    grid-column: 3/4;
  }
  #caja_texto {
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white; 
  }


  .titulos_enabezado{
    grid-row: 3/4;
    grid-column: 1/2;
  }
    #titulo1{
      font-family: 'PF Regal Display Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 45px;
      align-items: center;
      color: #B4B7B7;
    }
    #titulo2{
      font-family: 'PF Regal Display Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 80px;
      line-height: 45px;
      /* or 56% */
      align-items: center;

      color: #FFFFFF;
    }


.subtitulos1{
  font-family: 'PF Regal Display Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  align-items: center;
  color: #DF991B;
}

.subtitulos2{
  position: absolute;
  font-family: 'PF Regal Display Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  align-items: center;
  color: #000000;
}

.click{
font-family: 'Brandon Grotesque';
font-style: normal;
font-weight: 390;
font-size: 25px;
line-height: 45px;
align-items: center;
color: #DF991B;
}


.vap{
  border-radius: 10px;
  border: 1px solid white;
  opacity: 1; 
  color: white;
}